body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #757b36c2;
  color: black;
  margin: 20px;
  line-height: 1.6;
}

h1 {
  color: red;
  font-weight: bold;
}

a {
  color: rgba(14, 15, 126, 0.422);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
